# DOMAIN

DOMAIN_NAME=mnestere.42.fr
BONUS_DOMAIN=me.mnestere.42.fr
N8N_DOMAIN=n8n.mnestere.42.fr


# MARIADB

MARIADB_DATABASE=wordpress
MARIADB_ADMIN_USER=db_manager
MARIADB_WP_USER=wp_db_user

MARIADB_ROOT_PASSWORD_HOST_FILE=../secrets/db_root_password.txt
MARIADB_ROOT_PASSWORD_FILE=/run/secrets/mariadb_root_pass

MARIADB_ADMIN_PASSWORD_HOST_FILE=../secrets/db_admin_password.txt
MARIADB_ADMIN_PASSWORD_FILE=/run/secrets/mariadb_admin_pass

MARIADB_WP_USER_PASSWORD_HOST_FILE=../secrets/db_wp_user_password.txt
MARIADB_WP_USER_PASSWORD_FILE=/run/secrets/mariadb_wp_user_pass


# WORDPRESS

WP_TITLE=Inception

WP_DB_HOST=mariadb:3306
WP_DB_NAME=${MARIADB_DATABASE}
WP_DB_USER=${MARIADB_WP_USER}
WP_DB_PASSWORD_FILE=${MARIADB_WP_USER_PASSWORD_FILE}

WP_ADMIN_USER=mnestere
WP_ADMIN_EMAIL=mnestere@student.42.fr
WP_ADMIN_PASSWORD_HOST_FILE=../secrets/wp_admin_password.txt
WP_ADMIN_PASSWORD_FILE=/run/secrets/wp_admin_pass

WP_USER=visitor
WP_USER_EMAIL=visitor@student.42.fr
WP_USER_PASSWORD_HOST_FILE=../secrets/wp_user_password.txt
WP_USER_PASSWORD_FILE=/run/secrets/wp_user_pass


# NGINX / TLS

NGINX_SSL_CERTIFICATE_HOST_FILE=../secrets/certs/inception_nginx.crt
NGINX_SSL_CERTIFICATE_FILE=/run/secrets/nginx_cert

NGINX_SSL_CERTIFICATE_KEY_HOST_FILE=../secrets/certs/inception_nginx.key
NGINX_SSL_CERTIFICATE_KEY_FILE=/run/secrets/nginx_key


# REDIS BONUS

WP_REDIS_HOST=redis
WP_REDIS_PORT=6379


# FTP BONUS

FTP_USER=ftp_user
FTP_PASSWORD_HOST_FILE=../secrets/ftp_password.txt
FTP_PASSWORD_FILE=/run/secrets/ftp_password


# N8N BONUS